@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    margin:0;
    font-family:'Inter', sans-serif;
    scroll-behavior:smooth;
}
section {
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

#main {
    background-image: url("/static/main.png");
}

#info{
    background-image: url("/static/info.png");
}
#main {
	display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main-block{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}
 
nav {
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 10;
}

.fixed-menu {
    display: flex; 
    justify-content: space-between;
    align-items:center;
    flex: 1;
    border-radius: 12px;
    border: 2px solid #000;
    background-color:rgb(85, 176, 255)
}

.nav-links{
    display:flex;
    justify-content: center;
    flex-grow: 1;
    padding-right: 150px;
}


.nav-link{
    width: 112;
    height: 40px;
    border-radius: 12px;
    border: 2px solid #000;
    background-color: white;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-family: 'Comfortaa';
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-right: 20px; 
}

.logo{
    color: #bbff2c;
    font-size: 80px;
    padding-left:50px;
}

.button{
    width: 200px; 
    height:60px;
    border-radius: 100px;
    border: 2px solid #000;
    background: white;
    display:flex; 
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 0 #000000;
    margin-top: 20px;
}

.button a{
    font-size: 20px; 
    text-decoration: none;
}


.active{
    background-color: #bbff2c;
}


.info-block{
    padding-top: 150px;
    padding-left: 150px;
    font-size: 20px;
    font-family: 'Comfortaa';
}

.info-block p{
    padding-top: 20px;
}

.info-block ul{
    padding-top: 20px;
}


.workers {
    background-image: url("/static/form1.png");
    background-repeat: no-repeat;
    position: relative;
    background-size: contain;
	background-repeat: no-repeat;
    background-position: top;
    border-radius: 10px;
    border: 2px solid #000;
    background-color:rgb(2,162,232)

}

.workers p{
    padding-top: 10px;
    padding-left: 300px;
}
